<div class="col">
  <ng-container>
    <div
      *ngFor="let filme of filmes; let i = index"
      class="row-xl-2 row-lg-3 row-md-4 row-sm-6 mb-4"
    >
      <app-card-loading *ngIf="isLoading"></app-card-loading>
      <app-card-search-filme
        *ngIf="!isLoading"
        [filme]="filme"
      ></app-card-search-filme>
    </div>
    <div>
      <app-pagination-bar
        (pageChange)="atualizarLista($event)"
        [totalPages]="totalPages"
      ></app-pagination-bar>
    </div>
  </ng-container>
</div>
