<div class="container mt-4">
  <div class="row" id="detalhesFilme">
    <!--? Detalhes Filme -->
    <div class="row">
      <div class="col-md-4">
        <img
          [src]="'https://image.tmdb.org/t/p/original' + filme.cartaz"
          class="img-fluid rounded"
          [alt]="'Poster do Filme'"
        />
      </div>
      <div class="col-md-8">
        <div class="d-flex justify-content-between align-items-center mt-2">
          <h1 class="mb-0">{{ filme.titulo }}</h1>
          <button class="btn btn-warning" (click)="favoritarFilme()">
            <i
              class="bi"
              [ngClass]="{
                'bi-heart-fill': favoritado,
                'bi-heart': !favoritado
              }"
            ></i>
            Favoritar
          </button>
        </div>
        <p class="lead text-warning">
          Quantidade de Votos: {{ filme.favoritado }}
        </p>
        <p><strong>Gêneros:</strong></p>
        <span
          class="badge bg-warning text-black mx-1"
          *ngFor="let genero of filme.generos"
          >{{ genero }}</span
        >
        <p class="highlight-description">
          <strong>Descrição:</strong> {{ filme.descricao }}
        </p>
        <div class="mt-4 custom-iframe mx-auto">
          <h3>Trailer</h3>
          <iframe
            class="container-fluid rounded"
            id="video"
            width="560"
            height="315"
            [src]="filme.video | safe"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen="true;"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- Elenco e Equipe -->
  <div class="row mt-4">
    <h2 class="text-warning">Elenco</h2>
    <div
      *ngFor="let ator of filmeCreditos.elenco"
      class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4"
    >
      <div class="card h-100 text-center">
        <a
          class="text-decoration-none text-reset"
          routerLink="/filmes/person-detail/{{ ator.id }}"
        >
          <img
            class="card-img-top img-fluid"
            [ngSrc]="'w500' + ator.imagem"
            width="300"
            height="300"
            class="card-img-top"
            alt="Foto do Ator"
          />
          <div class="card-body">
            <h5 class="card-title">{{ ator.nome }}</h5>
            <p class="card-text">{{ ator.personagem }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Equipe -->
  <div class="row mt-4">
    <h2 class="text-warning">Equipe</h2>
    <div
      *ngFor="let membro of filmeCreditos.equipe"
      class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4"
    >
      <div class="card h-100 text-center">
        <a
          class="text-decoration-none text-reset"
          routerLink="/filmes/person-detail/{{ membro.id }}"
        >
          <img
            class="card-img-top img-fluid"
            [ngSrc]="'w500' + membro.imagem"
            width="300"
            height="300"
            class="card-img-top"
            alt="Foto do Membro da Equipe"
          />
          <div class="card-body">
            <h5 class="card-title">{{ membro.nome }}</h5>
            <p class="card-text">{{ membro.setor }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
