.link-filme {
  text-decoration: none;
  color: inherit;
}

.img-fluid {
  transition: transform 0.2s ease;
}

.img-fluid:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 0 0.2rem #ffffff6d;
}
