<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#"
      ><i class="bi bi-film text-warning"></i> TMDb</a
    >
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar = !toggleNavbar"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo02"
      [ngbCollapse]="toggleNavbar"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/filmes/home">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/filmes/lista">Filmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Sobre</a>
        </li>
      </ul>
      <form (submit)="pesquisarFilme()" class="d-flex input-group w-auto">
        <input
          [(ngModel)]="query"
          name="query"
          type="search"
          class="form-control"
          placeholder="Procurar Filme..."
          aria-label="Search"
        />
        <button
          class="btn btn-outline-warning"
          type="submit"
          data-mdb-ripple-color="dark"
        >
          Pesquisar
        </button>
      </form>
    </div>
  </div>
</nav>
