<section>
  <ngb-carousel #carousel [interval]="5000">
    <ng-template ngbSlide *ngFor="let filme of filmesLancamentos">
      <div class="picsum-img-wrapper">
        <img
          class="d-block w-100 banner"
          [src]="'https://image.tmdb.org/t/p/original' + filme.banner"
          [alt]="'Banner do filme: ' + filme.titulo"
        />
      </div>
      <div class="carousel-caption p-5">
        <h3>{{ filme.titulo }}</h3>
        <p>{{ filme.descricao }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container mt-4 accordion" id="accordionListas">
    <!--? Categoria Bem Avaliado -->
    <div class="accordion-item bg-transparent border-0">
      <h2 class="accordion-header">
        <button
          class="accordion-button bg-transparent border-0 pt-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="true"
          aria-controls="collapseTwo"
        >
          <h2 class="text-warning mt-4">Mais Bem Avaliado</h2>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row" id="listaFilmesBemAvaliado">
            <!--? Lista de Filmes -->
            <app-lista-filme [tipoLista]="'BemAvaliado'"></app-lista-filme>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
