@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.min.css");

body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    circle,
    #7f0000 0%,
    #740000 6%,
    #600000 15%,
    #350000 44%,
    #000000 100%
  );
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}
